<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Data Source" value="127.0.0.1"></add>
    <add key="DataBase" value="suzhou"></add>
    <add key="User ID" value="root"></add>
    <add key="Password" value="19950310"></add>
    <add key="Scenic Table" value="tourism_shop_suzhou"></add>
    <add key="ScenicComment Table" value="tourism_shop_suzhou_comment"></add>
  </appSettings>
</configuration>